body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(29, 28, 28);
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.header-left {
    width: 50%;
}

.header-left h1{
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;
}
.header-left h3{
    color: rgb(54, 41, 158);
    font-size: 1.7rem;
    margin: 0;
}

.header-right {
    width: 50%;
}

.header-right img {
    width: 80%;
}

.infos {
    background: rgb(15, 14, 14);
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    height: auto;
    padding: 0 10px;
    border-radius: 5px;
}

.infos-left .btn-container button {
    display: block;
    border: none;
    background: rgb(54, 41, 158);
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    width: 150px;
}

.infos-right {
    width: auto;
    display: flex;
}

.investors {
    display: flex;
    align-items: center;
}
.investors img {
    width: 90px;
    margin: 0 100px;
}