/* 
pour centrer un élement horizontalement parfaitement
si l'element est en block 
*/

.titre {
    text-align: center;
}
.boite {
    margin: 0 auto;
    display: block; /*  si jamais il n'est pas en block de base ex (img, a, span, button, etc) */
}

/* les flex */ 
.flex {
    display: flex;
   justify-content: center;
    align-items: center;
}

/* répartir équitablement sur la même ligne des élements dans la page    */
.listes {
    display: flex;
    justify-content:space-between;
    align-items: center; 
}