// Setting regroupe tous les reglages generaux de l'application (couleurs, font, etc...)

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    background: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 3rem;
    text-align: center;

    &:after {
        content: "*";
        position: absolute;
        color: rgb(249, 162, 176);

    }
    
    &:hover::after{
        color: rgb(249, 134, 134);
    }
}

.section {
    margin: 20px auto;
    width: 50%;
    height: 40vh;
    background-color: $coleurs_de_base;
    @include border_radius;
    @include center_x_y;

    p {
        
        width: 70%;
    }
}